header{
    font-size:20px;
    height: 120px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fe9f8c;
    box-shadow: 0 1px 7px #aaaaaa;
    margin-bottom: 60px;
}
body{
    background-color: oldlace;
    margin: 0;
}
h1{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding-top: 15px;
}
.title a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    color: blanchedalmond;
}
.menu ul{
    list-style-type: none;
    margin-top: -20px;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 0px;
}
.menu li{
    display: inline;
    font-size: 18px;
    border-right: solid 1px #aaaaaa;
    padding-left: 10px;
    padding-right: 10px;
}
.menu a{
    text-decoration: none;
    color: #ffffff;
}
.menu a:hover{
    color: blanchedalmond;
}
.menu{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;　
    margin-top: -17px;
    margin-bottom: 10px;
}
.container{
	background-color: #ffffff;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
}
.container img{
    width: 500px;
    border: solid 15px #887788;
    margin: 0;
    clear: both;
}
.container figcaption{
    clear: both;
    font-size: 24px;
    border-bottom: solid 5px #c39f4a;
    margin-top: 30px;
    margin-bottom: 30px;
}
.container a{
    text-decoration: none;
    color: darkorchid;
}
p{
    width: 1200px;
    margin: auto;
    line-height: 1.5;
}
.container p{
    width: 500px;
    line-height: 1.5;
    clear: both;
    float: right;
    margin: 15px 100px 0 0;
}
footer{
    text-align: center;
}
